@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');
body{
    background-image: linear-gradient(35rad, #9999ff, #6666ff, #4d4dff);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Lexend Giga', sans-serif;
}
.name{
    position: relative;
    top: 20px;
}
#main-div{
    width: 300px;
    height: 400px;
    background-color: black;
    margin: auto;
    position: relative;
    top: 20%;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    padding: 5px;
}
.button{
    font-family: 'Lexend Giga', sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 100ms;
    outline: none;
}
.button:hover {
    border: solid 1px silver;
    color: black;
}
#display{
    display: grid;
    grid-template-rows: 40% 60%;
    grid-gap: 2px;
    color: white;
    width: auto;
    height: auto;
    grid-column: 1/5;
    grid-row: 1/2;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: #262626;
}
#input{
    width: auto;
    height: 37px;
    color: white;
    font-size: 27px;
    text-align: right;
    padding-right: 5px;
    overflow: hidden;
    resize: none;
}
#output{
    width: auto;
    height: 23px;
    color: darkorange;
    font-size: 20px;
    text-align: right;
    padding:3px 5px 0 0;
    overflow: hidden;
    resize: none;
}
#clear{
    width: auto;
    height: auto;
    background-color: #b30000;
    grid-column: 1/3;
    grid-row: 2/3;
}
#divide{
    width: auto;
    height: auto;
    background-color: #737373;
    grid-column: 3/4;
    grid-row: 2/3;
}
#multiply{
    width: auto;
    height: auto;
    background-color: #737373;
    grid-column: 4/5;
    grid-row: 2/3;
}
#seven{
    width: auto;
    height: auto;
    background-color: #4d4d4d;
    grid-column: 1/2;
    grid-row: 3/4;
}
#eight{
    width: auto;
    height: auto;
    background-color: #4d4d4d;
    grid-column: 2/3;
    grid-row: 3/4;
}
#nine{
    width: auto;
    height: auto;
    background-color: #4d4d4d;
    grid-column: 3/4;
    grid-row: 3/4;
}
#subtract{
    width: auto;
    height: auto;
    background-color: #737373;
    grid-column: 4/5;
    grid-row: 3/4;
}
#four{
    width: auto;
    height: auto;
    background-color: #4d4d4d;;
    grid-column: 1/2;
    grid-row: 4/5;
}
#five{
    width: auto;
    height: auto;
    background-color: #4d4d4d;
    grid-column: 2/3;
    grid-row: 4/5;
}
#six{
    width: auto;
    height: auto;
    background-color: #4d4d4d;
    grid-column: 3/4;
    grid-row: 4/5;
}
#add{
    width: auto;
    height: auto;
    background-color: #737373;
    grid-column: 4/5;
    grid-row: 4/5;
}
#one{
    width: auto;
    height: auto;
    background-color: #4d4d4d;
    grid-column: 1/2;
    grid-row: 5/6;
}
#two{
    width: auto;
    height: auto;
    background-color: #4d4d4d;
    grid-column: 2/3;
    grid-row: 5/6;
}
#three{
    width: auto;
    height: auto;
    background-color: #4d4d4d;
    grid-column: 3/4;
    grid-row: 5/6;
}
#equals{
    width: auto;
    height: auto;
    background-color: #004d99;
    grid-column: 4/5;
    grid-row: 5/7;
}
#zero{
    width: auto;
    height: auto;
    background-color: #4d4d4d;
    grid-column: 1/3;
    grid-row: 6/7;
}
#decimal{
    width: auto;
    height: auto;
    background-color: #4d4d4d;
    grid-column: 3/4;
    grid-row: 6/7;
}